@charset "UTF-8";
/* Colors */
/* Document  */
* {
	--grayBackground: rgb(248, 248, 248);
	--grayBorder: rgb(225, 225, 225);
    --scoutGray: rgb(164, 169, 174);
	--scoutBlue: rgb(5, 130, 202);
	--nightfall: rgb(53, 55, 57);
	--midnight: rgb(33, 35, 37);
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/* Body */
body {
	font-family: 'Avenir Light' !important;
	background-color: white;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* unvisited link */
a:link {
	font-size: 1.334em;
  	color: var(--scoutGray);
	text-decoration: none;
}
/* visited link */
a:visited {
	font-size: 1.334em;
  	color: var(--scoutGray);
	text-decoration: none;
}
/* mouse over link */
a:hover {
	font-size: 1.334em;
  	color: black;
	text-decoration: none;
}
/* selected link */
a:active {
	font-size: 1.334em;
  	color: var(--scoutGray);
  	text-decoration: none;
}
/* Divider Line */
hr {
	background-color: var(--scoutGray);
	height: 1px; 
	border: 0;
}
/* Container */
.container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
.wrapper {
	width: 80%;
	max-width: 72em;
	margin: auto;
	nax-width: 32em;
	margin: 0px auto;
	margin-left: auto;
	margin-right: auto;
}
.gray-background {
	background-color: var(--grayBackground);
	border-top: solid 1px var(--grayBorder);
	border-bottom: solid 1px var(--grayBorder);
	padding-bottom: 2em;
}
/* Header */
.navigation {
	max-width: 64em;
	padding-top: 4em;
	padding-left: 2em;
	overflow: hidden;
	overflow-x: scroll;
}
.navigation-logo {
	padding-top: 2em;
	width: 100px;
	height: 100px;
	float: left;
}
.navigation-header {
	text-transform: uppercase;
	font-family: "Avenir Medium" !important;
	padding-bottom: 0.5em;
	white-space: nowrap;
}
.navigation-item {
	display: inline-block;
	margin-right: 6.25em;
}
/* Scout */
.scout {
	max-width: 64em;
	padding-left: 8.25em;
}
.scout-line {
	border-radius: 2px;
	margin-bottom: 2em;
	height: 4px;
 	background-color: var(--scoutBlue);
}
.scout-title {
	padding-top: 0.5em;
	font-size: 3em;
	color: black;
}
.scout-tagline {
	font-size: 1.334em;
	color: var(--scoutGray);
	padding-top: 1em;
	line-height: 1.6;
}
.download-app-store {
	display: inline-block;
	padding-top: 2.25em;
	width: 120px;
	height: 40px;
	float: left;
}
.download-play-store {
	display: inline-block;
	padding-top: 3em;
	margin-left: 4em;
	width: 40px;
	height: 40px;
	float: left;
}
.play-store-vertical-line {
	display: inline-block;
	margin-top: 3.125em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	width: 2px;
	height: 2em;
	color: var(--scoutGray);
}
.play-store-label {
	position: absolute;
	font-size: 0.75em;
	color: var(--scoutGray);
	display: inline-block;
	padding-top: 4.25em;
	margin-left: 0.5em;
	max-width: 6em;
	float: left;
}
/* Introduction */
.thumbnails {
	display: inline-flex;
	justify-content: space-between;
	padding-top: 4em;
	width: 100%;
}
.intro-thumbnail {
	max-width: 32em;
}
.thumbnail-header {
	font-size: 2.5em;
}
.thumbnail-body {
	padding-top: 0.75em;
	font-size: 1em;
}
.three-phones {
	width: 100%;
	padding-top: 4em;
	padding-bottom: 6em;
}
/* Features */
.boxed-header {
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
}
.boxed-label {
	text-transform: uppercase;
	font-size: 2.5em;
	margin-top: 0.875em;
	width: auto;
}
.boxed-line {
	border-radius: 2px;
	margin-top: 4em;
	margin-bottom: 4em;
	width: 24em;
	height: 4px;
 	background-color: var(--scoutBlue);
}
.left {
	margin-right: 2em;
}
.right {
	margin-left: 2em;
}
.boxed-tagline {
	font-family: 'Avenir Heavy';
	font-size: 1em;
	width: 100%;
	text-align: center;
}
.boxed-text {
	font-size: 1em;
	width: 100%;
	text-align: center;
}
.arrow-icon {
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
	text-align: center;
}
.bullet-section {
	padding-top: 4em;
}
.bullet-row {
	margin-bottom: 1.25em;
}
.bullet {
	display: inline-block;
	margin-right: 2em;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: var(--scoutBlue);
}
.bullet-bold {
	display: inline-block;
	font-family: 'Avenir Heavy';
	font-size: 1em;
}
.bullet-text {
	display: inline-block;
	font-size: 1em;
	margin-left: 0.25em;
}
.feature-container {
	position: relative;
	wdith: 100%;
}
.feature-phone {
	background-color: var(--grayBackground);
	border-radius: 60px;
	border: solid 1px var(--grayBorder);
	width: 100%;
	margin-top: 4em;
}
.feature-header-left {
	position: absolute;
	margin-top: 3.25em;
	margin-left: 3em;
	width: 24em;
	font-size: 2.5em;
	text-align: left;
}
.feature-body-left {
	position: absolute;
	margin-top: 12.5em;
	margin-left: 7.5em;
	width: 24em;
	font-size: 1em;
	text-align: left;
}
.feature-header-right {
	position: absolute;
	margin-top: 3.25em;
	margin-left: 16em;
	width: 24em;
	font-size: 2.5em;
	text-align: left;
}
.feature-body-right {
	position: absolute;
	margin-top: 12.5em;
	margin-left: 40em;
	width: 24em;
	font-size: 1em;
	text-align: left;
}
.feature-phone-dark {
/*	background-color: var(--nightfall);*/
	background-image: linear-gradient(315deg, var(--nightfall), var(--midnight));
	border-radius: 60px;
	width: 100%;
	margin-top: 4em;
}
.feature-header-middle {
	position: absolute;
	margin-top: 2.25em;
	margin-left: 12em;
	width: 100%;
	font-size: 2.5em;
	text-align: left;
	color: white;
}
.feature-body-middle {
	position: absolute;
	margin-top: 10em;
	margin-left: 20em;
	width: 100%;
	font-size: 1em;
	text-align: left;
	color: white;
}
@media (max-width: 56em) {}
